:root {
  --001-button: #6c63ff;
  --002-background: #f5f2fe;
  --003-text: #fff;
  --opacity: 0.7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: var(--opacity);
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.nav-links a {
  margin: 20px;
  text-decoration: none;
  padding: 20px;
  border: 1px solid var(--001-button);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.contact-me {
  background: var(--001-button);
  color: var(--003-text);
}

.about-me {
  color: var(--001-button);
}

.back-link {
  text-align: center;
  display: block;
  color: var(--001-button);
  text-decoration: none;
}

#contact-me {
  display: flex;
  justify-content: center;
  color: var(--001-button);
  text-decoration: none;
  font-size: 28px;
}

.description-about-me {
  display: flex;
  margin: 30px 0;
}

.description-about-me p {
  margin: 10px;
}

p {
  padding: 20px;
  border-radius: 4px;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
}

.button-link {
  background: var(--001-button);
  padding: 20px;
  text-decoration: none;
  border: 1px solid var(--001-button);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: var(--003-text);
}
